@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter-Regular.woff2") format("woff2"),
    url("/assets/fonts/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Red Hat Mono";
  src: url("/assets/fonts/subset-RedHatMono-Regular.woff2") format("woff2"),
    url("/assets/fonts/subset-RedHatMono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --main-font: "Inter", sans-serif;
  --code-font: "Red Hat Mono", monospace;
}

body {
  font-family: var(--main-font);
  font-size: 18px;
  max-width: 48rem !important;
  color: #1b1b1b;
}

h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.5rem !important;
  margin-bottom: 0.5rem !important;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: bolder;
}

h1 {
  font-size: 3.052rem !important;
  line-height: 4.25rem !important;
  margin-top: 0.5rem !important;
  margin-bottom: 1.5rem !important;
}

h1>span {
  padding: 2px;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

hr {
  background-color: #0e273c;
  border: none;
  height: 2px;
  margin-top: 0.5rem;
}

img {
  margin: 1rem 0;
}

pre,
code {
  font-family: var(--code-font);
  white-space: pre-wrap;
  overflow-wrap: anywhere;
  background-color: #0e273c !important;
}

code {
  color: #fff;
  padding: 2px;
  font-size: 0.9rem;
  border-radius: 5px;
}

.astro-code {
  padding: 10px;
  border-radius: 5px;
  margin: 1.5rem 0;
}

a {
  text-decoration: underline !important;
}

span {
  background-color: #0e273c;
  color: #fff;
}

blockquote {
  display: flex;
  background-color: rgb(226, 226, 226);
  align-items: center;
  line-height: 1.5em;
  padding: 2px;
  border-radius: 5px;
}

input {
  border: 1px solid #1b1b1b;
}

textarea:focus,
input:focus {
  outline: none;
}

button {
  margin-top: 20px;
  background-color: #0E273C;
  color: #fff;
}

button:hover {
  background-color: #173f5f;
}